<footer class="footer">
	<small>
		by Chris Yoon
	</small>
	<nav>
		<ul>
			<li><%= link_to "Github link", 'https://github.com/chris-yoon90/new_sentiment_analysis.git', target: "_blank" %> </li>
		</ul>
	</nav>
</footer>